@charset "UTF8";

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 30pt;
    margin: 15px 0;
}

table#consulta tr,
td {
    border: 1px solid #000000;
    padding: 5px;
    text-align: center;
    font-size: 11pt;
}

table#consulta tr#cabecalho {
    font-size: 11pt;
    color: #B5A77F;
    background: #000000CC;
    border: 1px solid #B5A77F;
    font-weight: bolder;
}

table#consulta {
    margin: 30px auto;
}

img {
    height: 25px;
    width: 25px;
}

td span {
    display: inline-block;
    width: 150px;
}

.cidade {
    padding: 0px 85px;
}

.estado {
    padding: 0px 85px;
}

div#interface {
    height: 720px;
}